{% load fontawesome_5 %}
<!doctype html>
<html lang="en">
<head>
    {% fontawesome_5_static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body class="m-5">
<h1>Dashboard</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="#">Cena Navideña</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'irIngresoTareas'  %} >Nueva Tarea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cambiar de proyecto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table table-bordered">
    <thead>
    <tr class="table-dark text-center">
        <th class="fs-5" scope="col" rowspan="2">Nombre de la tarea</th>
        <th scope="col" colspan="5">Mar 3-7</th>
        <th scope="col" colspan="5">Mar 10-14</th>
        <th scope="col" colspan="5">Mar 17-21</th>
        <th scope="col" colspan="5">Mar 24-27</th>
    </tr>
    <tr class="table-danger text-center">
        <th>L</th>
        <th>M</th>
        <th>M</th>
        <th>J</th>
        <th>V</th>
        <th>L</th>
        <th>M</th>
        <th>M</th>
        <th>J</th>
        <th>V</th>
        <th>L</th>
        <th>M</th>
        <th>M</th>
        <th>J</th>
        <th>V</th>
        <th>L</th>
        <th>M</th>
        <th>M</th>
        <th>J</th>
        <th>V</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="container col-3">
            <div class="row m-2">
                {{ tarea.nombre }}
            </div>
            <div class="row m-2">
                <spam>{% fa5_icon 'far fa-user' %} Usuario 1</spam>
                <spam>{% fa5_icon 'far fa-user' %} Usuario 2</spam>
                <spam>{% fa5_icon 'far fa-user' %} Usuario 3</spam>
                <spam>{% fa5_icon 'far fa-user' %} Usuario 4</spam>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary "> {% fa5_icon 'fat fa-exclamation-circle' %} Notificar
                </button>
                <button type="button" class="btn btn-light">{% fa5_icon 'fas fa-eye' %} Ver comentarios
                </button>
            </div>
        </td>

    </tr>
    <tr>
        <td class="container col-3">
            <div class="row m-2">
                Tarea 2
            </div>
            <div class="row m-2">
                <spam>{% fa5_icon 'far fa-user' %} Usuario 1</spam>
                <spam>{% fa5_icon 'far fa-user' %} Usuario 2</spam>
                <spam>{% fa5_icon 'far fa-user' %} Usuario 3</spam>
                <spam>{% fa5_icon 'far fa-user' %} Usuario 4</spam>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary "> {% fa5_icon 'fat fa-exclamation-circle' %} Notificar
                </button>
                <button type="button" class="btn btn-light">{% fa5_icon 'fas fa-eye' %} Ver comentarios
                </button>
            </div>
        </td>

    </tr>
    </tbody>


</table>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>