<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingreso de Tarea</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            crossorigin="anonymous"></script>


</head>
<body>
<div class="m-2 fs-3">Nombre Proyecto</div>
<form class="mx-5 w-50  p-4" method="post" action="/ingresarTareas/crear/">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la tarea" required>
    </div>
    <div>
        <p>
            <label for="exampleFormControlInput1" class="form-label">Fecha de inicio</label>
            <input type="date" id="fechaInicio"  name="fechaInicio">
        </p>
    </div>
    <div>
        <p>
            <label for="exampleFormControlInput1" class="form-label">Fecha de fin</label>
            <input type="date" id="fechaFin" name="fechaFin">
        </p>
    </div>
    <div class="w-25">
        <label for="prioridad">Prioridad</label>
        <select name = "prioridad" class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg example" id="prioridad">
            <option selected value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>
            <option value="9" >9</option>
            <option value="9" >10</option>

        </select>
    </div>
    <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" >Agregar Tarea</button>
  </div>
</form>
</body>
</html>